
 @font-face {
  font-family: 'Gilroy', 'Arial', sans-serif;
  src: url('../../../fonts/opensans.woff');
}
@font-face {
  font-family: 'Gilroy', 'Arial', sans-serif;
  src: url('../../../fonts/opensans.woff2');
}
@font-face {
  font-family: 'Gilroy', 'Arial', sans-serif;
  src: url('../../../fonts/opensansbold.woff');
}
@font-face {
  font-family: 'Gilroy', 'Arial', sans-serif;
  src: url('../../../fonts/opensansbold.woff2');
}
