.form__wrapper {
  outline: 4px solid green;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media #{$desktop-width} {
  .form__wrapper {
    position: relative;
    width: 770px;
    margin-left: 175px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

//form-common
.main-form__input-data {
  margin: 0;
  padding: 0;
  border: none;
}
@media #{$desktop-width-only} {
  .main-form__input-data--grey {
    background-color: $light-grey;
  }
} 

.main-form legend,
.data-input__phone-label,
.data-input__e-mail-label,
.data-input__wishes-label  {
  @include gren_uppercase_text();
  margin-bottom: 23px;
  position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      background-color: #56c3b2;
      width: 198px;
      height: 1px;
      top: 12px;
      right: 0;
    }

  @media #{$desktop-width} {
    position: absolute;
    left: -115px;
    top: 60px;
    &::after {
      display: none;
    }
  }
}

.data-input__phone-label,
.data-input__e-mail-label,
.data-input__wishes-label {
  display: block;
  width: 100%;
}

@media #{$desktop-width} {
  .data-input__phone-label,
  .data-input__e-mail-label,
  .form-block__input-data   {
    width: 90px;
}
}
.data-input__type,
.data-input__color {
  display: none;
}

.data-input__type-label,
.data-input__color-label,
.data-input__full-name-label {
  @include text_form();
}

@media #{$desktop-width} {
  .data-input__type-label,
  .data-input__color-label,
  .data-input__full-name-label {
    font-size: 19px;
}

}

.data-input__full-name,
.data-input__phone,
.data-input__e-mail,
.data-input__wishes {
  font-size: 17px;
  line-height: 18px;
}

@media #{$desktop-width} {
  .data-input__full-name,
  .data-input__phone,
  .data-input__e-mail,
  .data-input__wishes {
    font-size: 19px;
}
}


//form__topic
.form-topic {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 180px;
  background-color: $background-block;
  margin-bottom: 30px;
  border-top: 1px solid $light-grey;
}
.form-topic__title {
  @include section__title();
  font-size: 27px;
  text-align: center;
}

@media #{$desktop-width} {
  .form-topic {
    position: relative;
    min-height: 255px;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      background-image: url(../../imgs/bg-zigzag-fill.svg);
      background-repeat: repeat-x;
      height: 23px;
      bottom: 0;
      z-index: 10;
    }
  }
  
  .form-topic__title {
    @include section__title__desktop();
  }
}

//main-form__instruction
.main-form__instruction {
  font-size: 13px;
  margin-bottom: 30px;
}

@media #{$desktop-width} {
  .main-form__instruction {
  display: block;
  width: 700px;
  font-size: 17px;
  }
}


//data-input__type 
.data-input__type-label {
  display: flex;
  position: relative;
  align-items: center;
  height: 40px;
  margin-left: 62px;
  cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 40px;
      border: 2px solid $black;
      border-radius: 100px;
      left: -63px;
  }
    &::after {
      content: "";
      display: none;
      position: absolute;
      width: 18px;
      height: 18px;
      background-color: #56c3b2;
      border-radius: 100px;
      left: -50px;
    }
  }
.data-input__type:checked+.data-input__type-label::after {
  display: block;
}

@media #{$desktop-width} {
  .data-input__type-label {
    height: 54px;
    font-size: 19px;
    margin-left: 81px;

    &::before {
      width: 50px;
      height: 50px;
      left: -83px;
  }
    &::after {
      width: 21px;
      height: 21px;
      left: -67px;
    }
  }
}


//data-input__color
.data-input__color-label {
  display: flex;
  position: relative;
  align-items: center;
  height: 40px;
  margin-left: 62px;
  cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 22px;
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 40px;
      height: 40px;
      border: 2px solid $black;
      left: -63px;
  }
    &::after {
      content: "";
      display: none;
      position: absolute;
      width: 22px;
      height: 10px;
      border-left: 2px solid #000;
      border-bottom: 2px solid #000;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      left: -53px;
      top: 10px;
    }
}

.data-input__color:checked+.data-input__color-label::after {
  display: block;
}

@media #{$desktop-width} {
  .form__wrapper-color {
    display: flex; 
    flex-wrap: wrap;
  }

  .data-input__color-label {
    font-size: 19px;
    margin-left: 81px;
    width: 170px;
    height: 52px;
    margin-bottom: 0px;

    &:not(:last-child) {
      margin-bottom: 0px;
    }

      &:nth-child(-n+3) {
      margin-bottom: 24px;
    }


      &::before {
        width: 54px;
        height: 52px;
        left: -84px;
      }
      &::after {
        width: 32px;
        height: 15px;
        left: -71px;
        top: 11px;
      }
  }
}

//data-input__full-name
.full-name__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.data-input__full-name {
  box-sizing: border-box;
  height: 52px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid;
}

@media #{$desktop-width} { 
  .full-name__item {
    display: flex;
    align-items: baseline;
    width: 700px;
  }

  .data-input__full-name-label {
    margin-right: 25px;
    font-size: 19px;
  }

  .data-input__full-name {
    padding-left: 20px;
  }
}

//data-input__phone and data-input__e-mail
.data-input__phone-label,
.data-input__e-mail-label {
  margin-bottom: 0;
}

.data-input__phone,
.data-input__e-mail {
  box-sizing: border-box;
  height: 52px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid;
}

.data-input__phone {
  margin-bottom: 20px;
}

.data-input__e-mail-label {
  &::after {
    width: 179px;
  }
}

@media #{$desktop-width} {
  .data-input__e-mail-label {
    top: 130px;
  }

  .data-input__phone,
  .data-input__e-mail {
    width: 700px;
    padding-left: 20px;
    background-color: $light-grey;
  }
}

//data-input__wishes
.data-input__wishes {
  box-sizing: border-box;
  padding: 15px;
  width: 260px;
  border: 2px solid $black
  
}

.main-form__prompt {
  font-size: 14px;
  margin-bottom: 30px;
}

.form-block-btn {
  background-color: white;
  width: 100%;
  cursor: pointer;
}

@media #{$desktop-width} {
  .data-input__wishes {
    width: 700px;
    margin-bottom: 45px;
  }

  .main-form__prompt {
    font-size: 17px;
    position: absolute;
    right: 70px;
    top: 275px;
  }
  
  .form-block-btn {
    width: 230px;
  }
}


