.index__wrapper {
  outline: 4px solid green;
}
//topic
.topic {
  background-color: #f9f9f9;

  &::after {
    content: "";
    display: block;
    width: 100%;
    background-image: url("../../imgs/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    height: 23px;
    z-index: 10;
  }
}

.topic__box {
  background-image: url("../../imgs/hero-desktop1x.jpg");
  min-height: 756px;
}
.topic__title {
  @include section__title();
}

.topic__links-item {
  color: $white;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  
}

.topic__links-item--left {
  background-color: $light-green;
}

.topic__links-item--right {
  background-color: $dark-green;
}

//product-week
.product-week__title {
  @include section__title();
}

.product-week__banner {
  @include gren_uppercase_text();
}

.product-week__price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

//about-us
.about-us__title {
  @include section__title()
}

.about-us__list-item {
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
}

//reviews
.reviews {
  position: relative;
  &:before {
    content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 350px;
      height: 457px;
      background-image: url("../../imgs/review@1x.jpg");
      background-size: 350px auto;
      z-index: -1;
  }
}
.reviews__title {
  @include section__title();

}

.reviews__author-name {
  font-weight: 700;
  font-style: normal;
}

//contacts
.contacts__title {
  @include section__title();
}

.contacts__item-address address {
  font-style: normal;
}
