$black: #000000;
$white: #ffffff;
$grey: #444444;
$light-grey: #ececec;
$light-green: #63d1bb;
$dark-green: #56c3b2;
$background-block: #f1f1f1;

$mobile-width-only: "(max-width: 959px)";
$tablet-width: "(min-width: 768px)";
$desktop-width: "(min-width: 960px)";
